name: Build and deploy to Vercel

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

on:
  push:
    branches:
      - develop
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment'
        required: true
        type: choice
        default: preview
        options: [preview, production]

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    outputs:
      env: ${{ steps.determine-target-deployment.outputs.env }}
    steps:
      - name: Determine target deployment
        id: determine-target-deployment
        run: |
          echo "Event name: ${{ github.event_name }}"
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "env=${{ github.event.inputs.env }}" >> $GITHUB_OUTPUT
            echo "Triggered via workflow_dispatch with env: ${{ github.event.inputs.env }}"
          elif [[ "${{ github.ref }}" == "refs/heads/master" ]]; then
            echo "env=production" >> $GITHUB_OUTPUT
            echo "Triggered on master branch, deploying to production"
          else
            echo "env=preview" >> $GITHUB_OUTPUT
            echo "Triggered on branch ${{ github.ref }}, deploying to preview"
          fi
  buildAndDeploy:
    needs: [setup]
    uses: trungntm/github-workflow-support/.github/workflows/buildAndDeployToVercel.yaml@feature/add-node-version-as-inputs
    with:
      env: ${{ needs.setup.outputs.env }}
    secrets:
      vercel_token: ${{ secrets.VERCEL_TOKEN }}
      vercel_org_id: ${{ secrets.VERCEL_ORG_ID }}
      vercel_project_id: ${{ secrets.VERCEL_PROJECT_ID }}
